# Libraries

In [18]:
import pandas as pd                 # pandas is a dataframe library
import numpy as np                  # numpy is a mathematical library
import matplotlib.pyplot as plt     # matplotlib.pyplot draw grphs

In [19]:
x = [1,2,3]
y = [1,2,3]

z = []

for  i in range(len(x)):
    z.append(x[i] * y[i])

y = sum(z)

In [20]:
x = np.array([1,2,3])
y = np.array([1,2,3])

y = np.matmul(x.transpose(), y) # 1*1 + 2*2 + 3*3

df = pd.read_csv('2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv')

df.info()

#Got the schema, now clear all the columns that have a large number of null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 31 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Color notes                                 182 non-null    object
 12  Location                                    2959 non-null   object
 13  Above Ground Sighter Measurement            2909 non-null   object
 14  Specific Location                           476 non-null    object
 15  Running                                     3023 non-null   bool
 16  Chasing                                     3023 non-null   bool
 17  Climbing                                    3023 non-null   bool
 18  Eating                                      3023 non-null   bool
 19  Foraging                                    3023 non-null   bool
 20  Other Activities                            437 non-null    object
 21  Kuks                                        3023 non-null   bool
 22  Quaas                                       3023 non-null   bool
 23  Moans                                       3023 non-null   bool
 24  Tail flags                                  3023 non-null   bool
 25  Tail twitches                               3023 non-null   bool
 26  Approaches                                  3023 non-null   bool
 27  Indifferent                                 3023 non-null   bool
 28  Runs from                                   3023 non-null   bool
 29  Other Interactions                          240 non-null    object
 30  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(14)
memory usage: 463.6+ KB

In [21]:
df.describe()

                 X            Y          Date  Hectare Squirrel Number
count  3023.000000  3023.000000  3.023000e+03              3023.000000
mean    -73.967184    40.780853  1.011949e+07                 4.123718
std       0.007726     0.010285  4.246671e+04                 3.096492
min     -73.981159    40.764911  1.006202e+07                 1.000000
25%     -73.973102    40.771676  1.008202e+07                 2.000000
50%     -73.968594    40.778166  1.012202e+07                 3.000000
75%     -73.960189    40.791219  1.014202e+07                 6.000000
max     -73.949722    40.800119  1.020202e+07                23.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 31 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Color notes                                 182 non-null    object
 12  Location                                    2959 non-null   object
 13  Above Ground Sighter Measurement            2909 non-null   object
 14  Specific Location                           476 non-null    object
 15  Running                                     3023 non-null   bool
 16  Chasing                                     3023 non-null   bool
 17  Climbing                                    3023 non-null   bool
 18  Eating                                      3023 non-null   bool
 19  Foraging                                    3023 non-null   bool
 20  Other Activities                            437 non-null    object
 21  Kuks                                        3023 non-null   bool
 22  Quaas                                       3023 non-null   bool
 23  Moans                                       3023 non-null   bool
 24  Tail flags                                  3023 non-null   bool
 25  Tail twitches                               3023 non-null   bool
 26  Approaches                                  3023 non-null   bool
 27  Indifferent                                 3023 non-null   bool
 28  Runs from                                   3023 non-null   bool
 29  Other Interactions                          240 non-null    object
 30  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(14)
memory usage: 463.6+ KB

In [26]:
df.drop(['Color notes', 'Other Interactions', 'Other Activities', 'Specific Location'], axis = 1, inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 27 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Location                                    2959 non-null   object
 12  Above Ground Sighter Measurement            2909 non-null   object
 13  Running                                     3023 non-null   bool
 14  Chasing                                     3023 non-null   bool
 15  Climbing                                    3023 non-null   bool
 16  Eating                                      3023 non-null   bool
 17  Foraging                                    3023 non-null   bool
 18  Kuks                                        3023 non-null   bool
 19  Quaas                                       3023 non-null   bool
 20  Moans                                       3023 non-null   bool
 21  Tail flags                                  3023 non-null   bool
 22  Tail twitches                               3023 non-null   bool
 23  Approaches                                  3023 non-null   bool
 24  Indifferent                                 3023 non-null   bool
 25  Runs from                                   3023 non-null   bool
 26  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(10)
memory usage: 369.1+ KB

In [28]:
df.isna().sum()

X                                                0
Y                                                0
Unique Squirrel ID                               0
Hectare                                          0
Shift                                            0
Date                                             0
Hectare Squirrel Number                          0
Age                                            121
Primary Fur Color                               55
Highlight Fur Color                           1086
Combination of Primary and Highlight Color       0
Location                                        64
Above Ground Sighter Measurement               114
Running                                          0
Chasing                                          0
Climbing                                         0
Eating                                           0
Foraging                                         0
Kuks                                             0
Quaas                                            0
Moans                                            0
Tail flags                                       0
Tail twitches                                    0
Approaches                                       0
Indifferent                                      0
Runs from                                        0
Lat/Long                                         0
dtype: int64

In [30]:
df.drop(['Highlight Fur Color'], axis = 1, inplace = True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Combination of Primary and Highlight Color  3023 non-null   object
 10  Location                                    2959 non-null   object
 11  Above Ground Sighter Measurement            2909 non-null   object
 12  Running                                     3023 non-null   bool
 13  Chasing                                     3023 non-null   bool
 14  Climbing                                    3023 non-null   bool
 15  Eating                                      3023 non-null   bool
 16  Foraging                                    3023 non-null   bool
 17  Kuks                                        3023 non-null   bool
 18  Quaas                                       3023 non-null   bool
 19  Moans                                       3023 non-null   bool
 20  Tail flags                                  3023 non-null   bool
 21  Tail twitches                               3023 non-null   bool
 22  Approaches                                  3023 non-null   bool
 23  Indifferent                                 3023 non-null   bool
 24  Runs from                                   3023 non-null   bool
 25  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(9)
memory usage: 345.5+ KB

In [32]:
df.isna().sum()

X                                               0
Y                                               0
Unique Squirrel ID                              0
Hectare                                         0
Shift                                           0
Date                                            0
Hectare Squirrel Number                         0
Age                                           121
Primary Fur Color                              55
Combination of Primary and Highlight Color      0
Location                                       64
Above Ground Sighter Measurement              114
Running                                         0
Chasing                                         0
Climbing                                        0
Eating                                          0
Foraging                                        0
Kuks                                            0
Quaas                                           0
Moans                                           0
Tail flags                                      0
Tail twitches                                   0
Approaches                                      0
Indifferent                                     0
Runs from                                       0
Lat/Long                                        0
dtype: int64

In [33]:
df.head(10)

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Combination of Primary and Highlight Color,...,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,+,...,False,False,False,False,False,False,False,False,False,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,+,...,False,False,False,False,False,False,False,False,False,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,Gray+,...,False,False,False,False,False,False,False,False,False,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,Gray+,...,True,False,False,False,False,False,False,False,True,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Gray+Cinnamon,...,True,False,False,False,False,False,False,False,False,POINT (-73.9702676472613 40.7762126854894)
5,-73.968361,40.772591,11H-AM-1010-03,11H,AM,10102018,3,Adult,Cinnamon,Cinnamon+White,...,True,False,False,False,False,True,False,True,False,POINT (-73.9683613516225 40.7725908847499)
6,-73.954120,40.793181,36H-AM-1010-02,36H,AM,10102018,2,Adult,Gray,Gray+,...,True,False,False,False,False,False,False,False,False,POINT (-73.9541201789795 40.7931811701082)
7,-73.958269,40.791737,33F-AM-1008-02,33F,AM,10082018,2,Adult,Gray,Gray+,...,True,False,False,False,False,False,False,True,False,POINT (-73.9582694312289 40.7917367820255)
8,-73.967429,40.782972,21C-PM-1006-01,21C,PM,10062018,1,Adult,Gray,Gray+,...,False,False,False,False,True,True,False,False,False,POINT (-73.9674285955293 40.7829723919744)
9,-73.972250,40.774288,11D-AM-1010-03,11D,AM,10102018,3,Adult,Gray,Gray+Cinnamon,...,False,False,False,False,False,False,False,True,False,POINT (-73.9722500196844 40.7742879599026)

In [39]:
df['Age'].value_counts()

Age
Adult       2568
Juvenile     330
?              4
Name: count, dtype: int64

In [40]:
df.dropna(axis=0, subset=['Age'], inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2902 entries, 3 to 3022
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           2902 non-null   float64
 1   Y                                           2902 non-null   float64
 2   Unique Squirrel ID                          2902 non-null   object
 3   Hectare                                     2902 non-null   object
 4   Shift                                       2902 non-null   object
 5   Date                                        2902 non-null   int64
 6   Hectare Squirrel Number                     2902 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2867 non-null   object
 9   Combination of Primary and Highlight Color  2902 non-null   object
 10  Location                                    2853 non-null   object
 11  Above Ground Sighter Measurement            2812 non-null   object
 12  Running                                     2902 non-null   bool
 13  Chasing                                     2902 non-null   bool
 14  Climbing                                    2902 non-null   bool
 15  Eating                                      2902 non-null   bool
 16  Foraging                                    2902 non-null   bool
 17  Kuks                                        2902 non-null   bool
 18  Quaas                                       2902 non-null   bool
 19  Moans                                       2902 non-null   bool
 20  Tail flags                                  2902 non-null   bool
 21  Tail twitches                               2902 non-null   bool
 22  Approaches                                  2902 non-null   bool
 23  Indifferent                                 2902 non-null   bool
 24  Runs from                                   2902 non-null   bool
 25  Lat/Long                                    2902 non-null   object
dtypes: bool(13), float64(2), int64(2), object(9)
memory usage: 354.2+ KB

In [41]:
df['Age'].value_counts()

Age
Adult       2568
Juvenile     330
?              4
Name: count, dtype: int64

In [42]:
df.dropna(axis = 0, how = 'any', inplace = True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2784 entries, 6 to 3022
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           2784 non-null   float64
 1   Y                                           2784 non-null   float64
 2   Unique Squirrel ID                          2784 non-null   object
 3   Hectare                                     2784 non-null   object
 4   Shift                                       2784 non-null   object
 5   Date                                        2784 non-null   int64
 6   Hectare Squirrel Number                     2784 non-null   int64
 7   Age                                         2784 non-null   object
 8   Primary Fur Color                           2784 non-null   object
 9   Combination of Primary and Highlight Color  2784 non-null   object
 10  Location                                    2784 non-null   object
 11  Above Ground Sighter Measurement            2784 non-null   object
 12  Running                                     2784 non-null   bool
 13  Chasing                                     2784 non-null   bool
 14  Climbing                                    2784 non-null   bool
 15  Eating                                      2784 non-null   bool
 16  Foraging                                    2784 non-null   bool
 17  Kuks                                        2784 non-null   bool
 18  Quaas                                       2784 non-null   bool
 19  Moans                                       2784 non-null   bool
 20  Tail flags                                  2784 non-null   bool
 21  Tail twitches                               2784 non-null   bool
 22  Approaches                                  2784 non-null   bool
 23  Indifferent                                 2784 non-null   bool
 24  Runs from                                   2784 non-null   bool
 25  Lat/Long                                    2784 non-null   object
dtypes: bool(13), float64(2), int64(2), object(9)
memory usage: 339.8+ KB

In [49]:
df['Age'].value_counts()

Age
Adult       2470
Juvenile     312
Name: count, dtype: int64

In [47]:
df[df['Age'] == '?']

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Combination of Primary and Highlight Color,...,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Lat/Long
2593,-73.963881,40.792371,32A-PM-1013-02,32A,PM,10132018,2,?,Gray,Gray+White,...,True,False,False,False,False,False,False,True,False,POINT (-73.9638812060405 40.792371494142905)
2776,-73.981084,40.768791,2A-PM-1019-05,02A,PM,10192018,5,?,Gray,Gray+,...,False,False,False,False,False,False,False,False,False,POINT (-73.9810843611086 40.7687905493699)

In [48]:
df = df.drop(df[df['Age'] == '?'].index)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2782 entries, 6 to 3022
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           2782 non-null   float64
 1   Y                                           2782 non-null   float64
 2   Unique Squirrel ID                          2782 non-null   object
 3   Hectare                                     2782 non-null   object
 4   Shift                                       2782 non-null   object
 5   Date                                        2782 non-null   int64
 6   Hectare Squirrel Number                     2782 non-null   int64
 7   Age                                         2782 non-null   object
 8   Primary Fur Color                           2782 non-null   object
 9   Combination of Primary and Highlight Color  2782 non-null   object
 10  Location                                    2782 non-null   object
 11  Above Ground Sighter Measurement            2782 non-null   object
 12  Running                                     2782 non-null   bool
 13  Chasing                                     2782 non-null   bool
 14  Climbing                                    2782 non-null   bool
 15  Eating                                      2782 non-null   bool
 16  Foraging                                    2782 non-null   bool
 17  Kuks                                        2782 non-null   bool
 18  Quaas                                       2782 non-null   bool
 19  Moans                                       2782 non-null   bool
 20  Tail flags                                  2782 non-null   bool
 21  Tail twitches                               2782 non-null   bool
 22  Approaches                                  2782 non-null   bool
 23  Indifferent                                 2782 non-null   bool
 24  Runs from                                   2782 non-null   bool
 25  Lat/Long                                    2782 non-null   object
dtypes: bool(13), float64(2), int64(2), object(9)
memory usage: 339.6+ KB

In [55]:
df['Combination of Primary and Highlight Color'].value_counts()

Combination of Primary and Highlight Color
Gray+                          833
Gray+Cinnamon                  691
Gray+White                     458
Gray+Cinnamon, White           257
Cinnamon+Gray                  155
Cinnamon+White                  89
Black+                          70
Cinnamon+                       58
Cinnamon+Gray, White            56
Gray+Black, Cinnamon, White     30
Gray+Black                      24
Black+Cinnamon                  15
Cinnamon+Black                  10
Gray+Black, Cinnamon             9
Black+Gray                       8
Gray+Black, White                7
Black+Cinnamon, White            3
Cinnamon+Black, White            3
Cinnamon+Gray, Black             3
Black+White                      2
Black+Gray, White                1
Name: count, dtype: int64

In [57]:
df.dtypes

X                                             float64
Y                                             float64
Unique Squirrel ID                             object
Hectare                                        object
Shift                                          object
Date                                            int64
Hectare Squirrel Number                         int64
Age                                            object
Primary Fur Color                              object
Combination of Primary and Highlight Color     object
Location                                       object
Above Ground Sighter Measurement               object
Running                                          bool
Chasing                                          bool
Climbing                                         bool
Eating                                           bool
Foraging                                         bool
Kuks                                             bool
Quaas                                            bool
Moans                                            bool
Tail flags                                       bool
Tail twitches                                    bool
Approaches                                       bool
Indifferent                                      bool
Runs from                                        bool
Lat/Long                                       object
dtype: object

In [84]:
cats = ['Hectare', 'Shift', 'Age', 'Primary Fur Color', 'Combination of Primary and Highlight Color', 'Location', 'Above Ground Sighter Measurement']
for colName in cats:
    mappingCats = {cat : i for i,cat in enumerate(df[colName].unique())}
    print(mappingCats)
    df[colName] = df[colName].apply(lambda x: mappingCats[x])
bools = ['Running', 'Chasing', 'Climbing', 'Eating', 'Foraging', 'Kuks', 'Quaas', 'Moans', 'Tail flags', 'Tail twitches', 'Approaches', 'Indifferent', 'Runs from']
for colName in bools:
    mappingBools = {True : 1, False : 0}
    print(mappingBools)
    df[colName] = df[colName].apply(lambda x: mappingBools[x])

{'36H': 0, '33F': 1, '21C': 2, '11D': 3, '20B': 4, '22F': 5, '36I': 6, '05C': 7, '07H': 8, '16C': 9, '14E': 10, '32A': 11, '17F': 12, '16I': 13, '12I': 14, '32F': 15, '15E': 16, '39G': 17, '07E': 18, '17C': 19, '10A': 20, '28A': 21, '12B': 22, '18A': 23, '33H': 24, '29C': 25, '38C': 26, '31H': 27, '08H': 28, '34F': 29, '13H': 30, '32E': 31, '35C': 32, '17E': 33, '02B': 34, '19D': 35, '40B': 36, '03E': 37, '39C': 38, '06G': 39, '14F': 40, '06I': 41, '15F': 42, '08B': 43, '03A': 44, '05E': 45, '05F': 46, '11B': 47, '16E': 48, '29H': 49, '23C': 50, '33C': 51, '38G': 52, '16G': 53, '35A': 54, '28C': 55, '32D': 56, '22A': 57, '19C': 58, '15G': 59, '10F': 60, '42E': 61, '22B': 62, '05A': 63, '41D': 64, '21G': 65, '07F': 66, '38F': 67, '41B': 68, '31A': 69, '42G': 70, '37D': 71, '37E': 72, '07G': 73, '15I': 74, '19B': 75, '13D': 76, '35B': 77, '40D': 78, '38B': 79, '40I': 80, '07B': 81, '40A': 82, '03B': 83, '21D': 84, '10B': 85, '13E': 86, '41A': 87, '02F': 88, '26A': 89, '35E': 90, '11G': 91, '07A': 92, '03D': 93, '35D': 94, '18G': 95, '06F': 96, '09F': 97, '38E': 98, '33G': 99, '32G': 100, '04D': 101, '06H': 102, '15D': 103, '39H': 104, '20F': 105, '09G': 106, '05D': 107, '23F': 108, '39A': 109, '13A': 110, '10G': 111, '13C': 112, '32C': 113, '31D': 114, '40E': 115, '12F': 116, '17H': 117, '03G': 118, '15H': 119, '14G': 120, '42H': 121, '38A': 122, '22C': 123, '36F': 124, '05I': 125, '16D': 126, '06D': 127, '12E': 128, '14D': 129, '22D': 130, '02D': 131, '12C': 132, '08F': 133, '02H': 134, '32B': 135, '04E': 136, '14A': 137, '09B': 138, '08C': 139, '06B': 140, '03C': 141, '38D': 142, '26I': 143, '01B': 144, '37H': 145, '06A': 146, '32I': 147, '02E': 148, '04B': 149, '31F': 150, '23D': 151, '30B': 152, '04F': 153, '33I': 154, '33B': 155, '37I': 156, '37G': 157, '20A': 158, '15A': 159, '16F': 160, '01G': 161, '37B': 162, '03I': 163, '10I': 164, '19H': 165, '34I': 166, '19F': 167, '20C': 168, '36E': 169, '28D': 170, '21E': 171, '39F': 172, '18D': 173, '27I': 174, '14I': 175, '01H': 176, '30E': 177, '16A': 178, '11E': 179, '22I': 180, '41C': 181, '29B': 182, '15B': 183, '18I': 184, '12D': 185, '11F': 186, '34D': 187, '20D': 188, '39B': 189, '21F': 190, '08E': 191, '33E': 192, '31G': 193, '02C': 194, '04I': 195, '40C': 196, '30D': 197, '36C': 198, '11I': 199, '01D': 200, '22G': 201, '40G': 202, '01C': 203, '07I': 204, '14H': 205, '08I': 206, '13B': 207, '34H': 208, '04A': 209, '42F': 210, '41I': 211, '09C': 212, '31E': 213, '29D': 214, '42D': 215, '19G': 216, '13I': 217, '27A': 218, '24A': 219, '36D': 220, '42B': 221, '36A': 222, '41E': 223, '16H': 224, '12H': 225, '09D': 226, '07D': 227, '08G': 228, '04C': 229, '11H': 230, '30A': 231, '15C': 232, '16B': 233, '11A': 234, '36G': 235, '14C': 236, '21H': 237, '05G': 238, '03F': 239, '14B': 240, '09A': 241, '18C': 242, '01A': 243, '09I': 244, '18H': 245, '42C': 246, '26B': 247, '36B': 248, '28I': 249, '01F': 250, '31I': 251, '17A': 252, '08A': 253, '03H': 254, '30I': 255, '09E': 256, '39D': 257, '34E': 258, '37C': 259, '21A': 260, '13G': 261, '35F': 262, '38I': 263, '09H': 264, '30C': 265, '19E': 266, '08D': 267, '04G': 268, '17D': 269, '04H': 270, '23B': 271, '21B': 272, '33D': 273, '20G': 274, '17G': 275, '10C': 276, '35G': 277, '02I': 278, '12G': 279, '25A': 280, '10D': 281, '37F': 282, '17I': 283, '42A': 284, '34B': 285, '02A': 286, '17B': 287, '11C': 288, '33A': 289, '31B': 290, '37A': 291, '01E': 292, '22H': 293, '34A': 294, '19A': 295, '10H': 296, '13F': 297, '06C': 298, '07C': 299, '05B': 300, '23A': 301, '02G': 302, '35H': 303, '06E': 304, '41G': 305, '40H': 306, '39I': 307, '25I': 308, '23I': 309, '31C': 310, '29A': 311, '22E': 312, '28B': 313, '35I': 314, '24I': 315, '23H': 316, '34C': 317, '39E': 318, '18F': 319, '01I': 320, '42I': 321, '18E': 322, '27B': 323, '12A': 324, '34G': 325, '40F': 326, '30H': 327, '32H': 328, '10E': 329, '25B': 330, '20E': 331, '38H': 332, '30F': 333}
{'AM': 0, 'PM': 1}
{'Adult': 0, 'Juvenile': 1}
{'Gray': 0, 'Cinnamon': 1, 'Black': 2}
{'Gray+': 0, 'Gray+Cinnamon': 1, 'Gray+White': 2, 'Cinnamon+Gray': 3, 'Gray+Cinnamon, White': 4, 'Cinnamon+Gray, White': 5, 'Cinnamon+White': 6, 'Gray+Black, Cinnamon, White': 7, 'Cinnamon+': 8, 'Black+': 9, 'Gray+Black': 10, 'Black+White': 11, 'Black+Cinnamon': 12, 'Gray+Black, White': 13, 'Cinnamon+Black': 14, 'Black+Gray': 15, 'Gray+Black, Cinnamon': 16, 'Black+Cinnamon, White': 17, 'Cinnamon+Black, White': 18, 'Black+Gray, White': 19, 'Cinnamon+Gray, Black': 20}
{'Ground Plane': 0, 'Above Ground': 1}
{'FALSE': 0, '30': 1, '10': 2, '6': 3, '24': 4, '8': 5, '25': 6, '5': 7, '50': 8, '4': 9, '3': 10, '70': 11, '12': 12, '2': 13, '20': 14, '7': 15, '13': 16, '15': 17, '28': 18, '35': 19, '100': 20, '80': 21, '65': 22, '40': 23, '18': 24, '17': 25, '1': 26, '55': 27, '60': 28, '180': 29, '9': 30, '45': 31, '0': 32, '16': 33, '33': 34, '11': 35, '23': 36, '31': 37, '14': 38, '19': 39}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}
{True: 1, False: 0}

In [62]:
#Since an ID is not necessary in learning about the general behavior of squirrels, and I don't see a way to use it to predict the behavior of other squirrels, I will drop it.
df.drop('Unique Squirrel ID', axis=1, inplace=True)

In [86]:
df.drop('Lat/Long', axis=1, inplace=True)

In [87]:
df

,X,Y,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Combination of Primary and Highlight Color,Location,...,Eating,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from
6,-73.954120,40.793181,0,0,10102018,2,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7,-73.958269,40.791737,1,0,10082018,2,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
8,-73.967429,40.782972,2,1,10062018,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
9,-73.972250,40.774288,3,0,10102018,3,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
10,-73.969506,40.782351,4,1,10132018,5,0,0,2,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3017,-73.964544,40.781160,190,1,10182018,2,1,1,3,0,...,0,1,0,0,0,0,0,0,0,1
3018,-73.963943,40.790868,152,0,10072018,4,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
3019,-73.970402,40.782560,295,1,10132018,5,0,0,2,0,...,0,1,0,0,0,0,0,0,1,0
3020,-73.966587,40.783678,130,1,10122018,7,0,0,7,0,...,1,1,0,0,0,0,0,0,1,0
3022,-73.975479,40.769640,45,1,10122018,1,0,1,5,0,...,1,1,0,0,0,0,0,1,0,0