# Libraries

In [50]:
import pandas as pd                 # pandas is a dataframe library
import numpy as np                  # numpy is a mathematical library
import matplotlib.pyplot as plt     # matplotlib.pyplot draw grphs

In [ ]:
x = [1,2,3]
y = [1,2,3]

z = []

for  i in range(len(x)):
    z.append(x[i] * y[i])

y = sum(z)

In [ ]:
x = np.array([1,2,3])
y = np.array([1,2,3])

y = np.matmul(x.transpose(), y)

# Exploring pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('housing.csv')
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [3]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

# Missing values

In [4]:
"""
1) For numerical data, Replace nan values with calss average, or remove rows
2) For categorical data, replace nan values with most frequent value or remove rows
"""

'\n1) For numerical data, Replace nan values with calss average, or remove rows\n2) For categorical data, replace nan values with most frequent value or remove rows\n'

In [5]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

# Manage DataTypes

In [8]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [9]:
df = df.astype(
    {
        "housing_median_age": "int",
        "total_rooms": "int",
        "total_bedrooms": "int",
        "population": "int",
        "households": "int",
        
    }
)

In [10]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age      int32
total_rooms             int32
total_bedrooms          int32
population              int32
households              int32
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [11]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129,322,126,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52,919,213,413,193,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52,2535,489,1094,514,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52,3104,687,1157,647,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42,2555,665,1206,595,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52,3549,707,1551,714,3.6912,261100.0,NEAR BAY

# Categorical to numerical data

In [12]:
# Ordinal Normalization / Label Encoding / Ordinal encoding
mapping = {cat : i for i,cat in enumerate(df['ocean_proximity'].unique())}
mapping

{'NEAR BAY': 0, '<1H OCEAN': 1, 'INLAND': 2, 'NEAR OCEAN': 3, 'ISLAND': 4}

# Applying lambda function to a dataframe

In [13]:
df["ocean_proximity"] = df['ocean_proximity'].apply(lambda x: mapping[x])
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129,322,126,8.3252,452600.0,0
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500.0,0
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100.0,0
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300.0,0
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200.0,0
5,-122.25,37.85,52,919,213,413,193,4.0368,269700.0,0
6,-122.25,37.84,52,2535,489,1094,514,3.6591,299200.0,0
7,-122.25,37.84,52,3104,687,1157,647,3.1200,241400.0,0
8,-122.26,37.84,42,2555,665,1206,595,2.0804,226700.0,0
9,-122.25,37.84,52,3549,707,1551,714,3.6912,261100.0,0

# Normalizaion

In [33]:
standardization_columns = ['longitude', 'latitude', 'population', 'median_income', 'median_house_value']
zero_one_normaization_columns = ['housing_median_age', 'total_rooms', 'total_bedrooms', 'households']

# Standardization / Standard Scaling / z-score normalization
for col in standardization_columns:
    mean = df[col].mean()
    std = df[col].std()
    df[col] = (df[col] - mean) / std

# Min Max Scaling / 0-1 normalization
for col in zero_one_normaization_columns:
    max = df[col].max()
    min = df[col].min()
    df[col] = (df[col] - min) / (max - min)

df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-1.327281,1.051692,0.784314,0.022331,0.019863,-0.973296,0.020556,2.345106,2.128767,0
1,-1.322290,1.042330,0.392157,0.180503,0.171477,0.861318,0.186976,2.332575,1.313594,0
2,-1.332272,1.037649,1.000000,0.037260,0.029330,-0.819749,0.028943,1.782896,1.258152,0
3,-1.337263,1.037649,1.000000,0.032352,0.036313,-0.765037,0.035849,0.932947,1.164593,0
4,-1.337263,1.037649,1.000000,0.041330,0.043296,-0.758860,0.042427,-0.013143,1.172390,0
5,-1.337263,1.037649,1.000000,0.023323,0.032899,-0.892993,0.031574,0.087211,0.544334,0
6,-1.337263,1.032968,1.000000,0.064423,0.075729,-0.292044,0.084361,-0.111653,0.799888,0
7,-1.337263,1.032968,1.000000,0.078895,0.106456,-0.236450,0.106233,-0.395496,0.299176,0
8,-1.342254,1.032968,0.803922,0.064932,0.103042,-0.193210,0.097681,-0.942858,0.171832,0
9,-1.337263,1.032968,1.000000,0.090213,0.109559,0.111236,0.117250,-0.094752,0.469834,0

In [34]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,2.043300e+04,2.043300e+04,20433.000000,20433.000000,20433.000000,2.043300e+04,20433.000000,2.043300e+04,2.043300e+04,20433.000000
mean,-8.902214e-16,1.446610e-15,0.541825,0.067005,0.083313,-8.345826e-17,0.081966,1.669165e-17,5.563884e-17,1.464787
std,1.000000e+00,1.000000e+00,0.246898,0.055579,0.065392,1.000000e+00,0.062868,1.000000e+00,1.000000e+00,0.854216
min,-2.385388e+00,-1.447902e+00,0.000000,0.000000,0.000000,-1.254797e+00,0.000000,-1.775010e+00,-1.662098e+00,0.000000
25%,-1.112665e+00,-7.972585e-01,0.333333,0.036828,0.045779,-5.629564e-01,0.045881,-6.883945e-01,-7.568234e-01,1.000000
50%,5.393794e-01,-6.427892e-01,0.549020,0.054046,0.067349,-2.285078e-01,0.067094,-1.762034e-01,-2.353208e-01,1.000000
75%,7.789508e-01,9.767974e-01,0.705882,0.079887,0.100248,2.621345e-01,0.099161,4.595601e-01,5.010201e-01,2.000000
max,2.625647e+00,2.956812e+00,1.000000,1.000000,1.000000,3.023014e+01,1.000000,5.859522e+00,2.539394e+00,4.000000

In [36]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-1.327281,1.051692,0.784314,0.022331,0.019863,-0.973296,0.020556,2.345106,2.128767,0
1,-1.322290,1.042330,0.392157,0.180503,0.171477,0.861318,0.186976,2.332575,1.313594,0
2,-1.332272,1.037649,1.000000,0.037260,0.029330,-0.819749,0.028943,1.782896,1.258152,0
3,-1.337263,1.037649,1.000000,0.032352,0.036313,-0.765037,0.035849,0.932947,1.164593,0
4,-1.337263,1.037649,1.000000,0.041330,0.043296,-0.758860,0.042427,-0.013143,1.172390,0
...,...,...,...,...,...,...,...,...,...,...
20635,-0.758299,1.800633,0.470588,0.042296,0.057883,-0.511774,0.054103,-1.216697,-1.115465,2
20636,-0.818192,1.805314,0.333333,0.017676,0.023122,-0.943292,0.018582,-0.692027,-1.124128,2
20637,-0.823183,1.777229,0.313725,0.057277,0.075109,-0.368817,0.071041,-1.143143,-0.992452,2
20638,-0.873094,1.777229,0.333333,0.047256,0.063315,-0.603549,0.057227,-1.055110,-1.058290,2
20639,-0.833165,1.749144,0.294118,0.070782,0.095438,-0.033486,0.086992,-0.780587,-1.017575,2

# Machine Learning using Linear regression

## Prediction

In [125]:
def forward(x, w, b):
    y = 0
    for _x, _w in zip(x,w ):
        y += _x * _w
    y += bs
    return y

def forward_vector(x, w, b):
    return np.matmul(x, w.transpose())

def forward_all(X, w, b):
    return np.matmul(X, w.transpose()) + b

In [126]:
x = df.iloc[0, : -1].values.reshape(1,9)
w = np.random.randn(1, 9)
b = 0.5
print(x.shape, w.shape, b)

(1, 9) (1, 9) 0.5

In [95]:
%timeit forward(x[0], w[0], b)

5.16 µs ± 946 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [98]:
%timeit forward_vector(x[0], w[0], b)

3.19 µs ± 1.52 µs per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [127]:
X = df.iloc[:, :-1].values
print(X.shape, w.shape, b)

(20433, 9) (1, 9) 0.5

In [130]:
%timeit forward_all(X, w, b)

209 µs ± 29.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)